{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-md">
    <h1>Add book</h1>
    <form action="" method="post">
        {{ BookForm.hidden_tag() }}
        <p>
            {{ BookForm.name.label }}<br>
            {{ BookForm.name(size=40) }}<br>
            {% for error in BookForm.name.errors %}
            <span style="color: green;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ BookForm.price.label }}<br>
            {{ BookForm.price(size=10) }}<br>
            {% for error in BookForm.price.errors %}
            <span style="color: green;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ BookForm.year.label }}<br>
            {{ BookForm.year(size=10) }}<br>
            {% for error in BookForm.year.errors %}
            <span style="color: green;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ BookForm.genres.label }}<br>
            {{ BookForm.genres(size=1) }}<br>
            {% for error in BookForm.genres.errors %}
            <span style="color: green;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ BookForm.authors.label }}<br>
            {{ BookForm.authors(size=1) }}<br>
            {% for error in BookForm.authors.errors %}
            <span style="color: green;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ BookForm.submit1() }}</p>
    </form>
  </div>
  <br>
  <div class="col-md">
    <h1>Add genre</h1>
    <form action="" method="post">
        {{ GenreForm.hidden_tag() }}
        <p>
            {{ GenreForm.name.label }}<br>
            {{ GenreForm.name(size=30) }}<br>
            {% for error in GenreForm.name.errors %}
            <span style="color: green;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ GenreForm.submit2() }}</p>
    </form>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md">
    <h1>Add author</h1>
    <form action="" method="post">
        {{ AuthorForm.hidden_tag() }}
        <p>
            {{ AuthorForm.name.label }}<br>
            {{ AuthorForm.name(size=25) }}<br>
            {% for error in AuthorForm.name.errors %}
            <span style="color: green;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ AuthorForm.surname.label }}<br>
            {{ AuthorForm.surname(size=25) }}<br>
            {% for error in AuthorForm.surname.errors %}
            <span style="color: green;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ AuthorForm.submit3() }}</p>
    </form>
  </div>
  <br>
  <div class="col-md">
    <h1>Add provider</h1>
    <form action="" method="post">
        {{ ProviderForm.hidden_tag() }}
        <p>
            {{ ProviderForm.name.label }}<br>
            {{ ProviderForm.name(size=40) }}<br>
            {% for error in ProviderForm.name.errors %}
            <span style="color: green;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ ProviderForm.address.label }}<br>
            {{ ProviderForm.address(size=60) }}<br>
            {% for error in ProviderForm.address.errors %}
            <span style="color: green;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ ProviderForm.phone.label }}<br>
            {{ ProviderForm.phone(size=10) }}<br>
            {% for error in ProviderForm.phone.errors %}
            <span style="color: green;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ ProviderForm.submit4() }}</p>
    </form>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md">
    <h1>Delete</h1>
    <form action="" method="post">
        {{ DeleteForm.hidden_tag() }}
        <p>
            {{ DeleteForm.table.label }}<br>
            {{ DeleteForm.table(size=1) }}<br>
            {% for error in DeleteForm.table.errors %}
            <span style="color: green;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ DeleteForm.id.label }}<br>
            {{ DeleteForm.id(size=10) }}<br>
            {% for error in DeleteForm.id.errors %}
            <span style="color: green;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ DeleteForm.submit5() }}</p>
    </form>
  </div>
  <br>
  <div class="col-md">
    <h1>Add Provider Price</h1>
    <form action="" method="post">
        {{ AddPrice.hidden_tag() }}
        <p>
            {{ AddPrice.provider.label }}<br>
            {{ AddPrice.provider(size=1) }}<br>
            {% for error in AddPrice.provider.errors %}
            <span style="color: green;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ AddPrice.book.label }}<br>
            {{ AddPrice.book(size=1) }}<br>
            {% for error in AddPrice.book.errors %}
            <span style="color: green;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ AddPrice.price.label }}<br>
            {{ AddPrice.price(size=10) }}<br>
            {% for error in AddPrice.price.errors %}
            <span style="color: green;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ AddPrice.submit6() }}</p>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-md">
    <h1>Make order</h1>
    <form action="" method="post">
        {{ MakeOrder.hidden_tag() }}
        <p>
            {{ MakeOrder.provider.label }}<br>
            {{ MakeOrder.provider(size=1) }}<br>
            {% for error in MakeOrder.provider.errors %}
            <span style="color: green;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ MakeOrder.submit7() }}</p>
    </form>
  </div>
  <br>
  <div class="col-md">
  </div>
</div>


{% endblock %}
